
<div style="background-color:#593446; padding-top: 5%;">
  <div class="container"><hr></div>
<div class="container" style="background-color:#593446; padding-bottom: 5%;display: flex;justify-content: space-between;">
  <a style="color: whitesmoke;" href="https://nodejs.org/en/"> Node JS</a>
  <a style="color: whitesmoke;" href="https://expressjs.com/de/">ExpressJS</a>
  <a style="color: whitesmoke;" href="https://www.mongodb.com/de">Mongo DB</a>
  <a style="color: whitesmoke;" href="https://developer.mozilla.org/de/docs/Web/JavaScript">Java Script</a>
  <a style="color: whitesmoke;" href="https://www.methodpark.de/blog/model-view-controller-mvc/">Model-View-Controller</a>
</div>
</div>
</body>
</html>