<%-include('./partials/header.ejs')%>
<div class="failContainer">
  <div>
    <p>Dies ist die 404 Page da es die angeforderte Seite nocht gibt</p>
  </div>
</div>
<%-include('./partials/footer.ejs')%>